.best {
    background: url("../img/bg/best.png") center center no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    .sectiontitle {
        color: $black;
        margin-bottom: rem(85px);
        margin-top: rem(80px);
    }
}

.best__list {
    display: flex;
    @include phones {
        flex-direction: column;
    }
}

.best__item {
    margin-bottom: rem(15px);
    padding: 0 rem(15px);
    display: flex;
    flex-direction: column;
    flex: 1;
    @include phones {
        flex-direction: row;
        margin-bottom: rem(50px);
        justify-content: center;
        align-items: center;
    }
}

.best__pic {
    display: flex;
    flex-direction: column;
    @include phones {
        margin-right: rem(30px);
        align-items: center;
        justify-content: center;
    }
}

.best__icon {
    width: 90%;
    height: rem(100px);
    margin-bottom: rem(35px);
    svg {
        max-width: 95%;
    }
    @include phones {
        width: rem(100px);
        height: rem(100px);
    }
}

.best__title {
    @include lifehack();
    font-size: rem(24.1px);
    color: $black;
    margin-bottom: rem(20px);
    @include phones {
        text-align: left;
    }
}

.best__desc {
    @include ubuntu($style: light);
    font-size: rem(14.03px);
    @include phones {
        text-align: left;
    }
}