.burgers {
    background: rgb(249, 180, 59);
    background: -moz-linear-gradient(top, rgb(249, 180, 59) 0%, rgb(236, 145, 57) 51%, rgb(249, 180, 59) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(249, 180, 59) 0%, rgb(236, 145, 57) 51%, rgb(249, 180, 59) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(249, 180, 59) 0%, rgb(236, 145, 57) 51%, rgb(249, 180, 59) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b', GradientType=0);
    /* IE6-9 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgers__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content_right {
    padding-bottom: rem(40px);
    .section-title {
        line-height: rem(64px);
        margin-bottom: rem(40px);
    }
}

.burgers__button {
    display: flex;
    margin-right: auto;
    position: relative;
}

.burgers-box__hover {
    border-radius: rem(5px);
    background-color: rgba(#fef8ec, .9);
    display: none;
    &:hover{
        display: block;
        position: absolute;
        left: rem(90px);
    }
}

.burgers-box {
    width: rem(90px);
    height: rem(90px);
    background-color: #f08c33;
    border-radius: rem(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:hover {
        background-color: $red;
        &+.burgers-box__hover {
            display: block;
            position: absolute;
            left: rem(90px);
        }
    }
}

.burgers-box__icon {
    width: rem(46px);
    height: rem(42px);
}

.burgers-box__title {
    color: $white;
    @include gagalin();
    font-size: rem(14px);
    margin-top: rem(8px);
}

.hover__list {
    justify-content: center;
    align-items: center;
}

.hover__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: rem(15px);
    margin-left: rem(20px);
    &:first-child {
        margin-top: rem(18px);
    }
}

.hover__icon {
    width: rem(45px);
    height: rem(45px);
    margin-right: rem(25px);
}

.hover__desc {
    margin-right: rem(67px);
    font-size: rem(14px);
    @include ubuntu($style: medium);
    color: $black;
}

.hover__amount {
    display: flex;
    flex-wrap: nowrap;
    margin-right: rem(20px);
    margin-left: auto;
}

.callories__icon {
    width: rem(60px);
    height: rem(60px);
}

.callories__img {
    display: flex;
    margin-top: auto;
}

.burger__callories {
    position: absolute;
    left: 0;
    top: 100%;
}

.callories__img {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.callories__ammount {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: rem(20px);
    @include gagalin();
    opacity: .5;
}

.callories__mesure {
    color: $white;
    font-size: rem(14px);
    @include gagalin();
    opacity: .5;
}

.content__desc {
    color: $white;
    font-size: rem(14px);
    @include ubuntu($style: light);
}

.cost__price {
    color: $red;
    font-size: rem(72px);
    @include gagalin();
    margin-right: rem(10px);
}

.cost__mesure {
    color: $red;
    font-size: rem(30px);
    @include gagalin();
    margin-right: rem(30px);
    margin-top: rem(30px);
}

.content__cost {
    display: flex;
    align-items: center;
    margin-top: rem(50px);
}

.content__btn {
    margin-top: rem(40px);
}

// .arrow {
//     width: rem(30px);
//     height: rem(30px);
//     &.arrow_left {
//         position: absolute;
//         top: 50%;
//         left: -10%;
//         transform: rotate(90deg);
//     }
//     &.arrow_right {
//         position: absolute;
//         top: 50%;
//         right: -10%;
//         transform: rotate(-90deg);
//     }
// }

.owl-prev, .owl-next {
    position: absolute;
    background: url('../img/icons/arrow-scroll.svg') 50% 50% no-repeat !important;
    background-size: contain;
    width: rem(30px);
    height: rem(15px);
    top: 49%;
}

.owl-prev {
    left: 1%;
    transform: translate(0%,-50%) rotate(90deg);
}

.owl-next {
    right: 1%;
    transform: translate(0%,-50%) rotate(-90deg);
    
}